
nav {
    // display: flex;
    // justify-content: flex-start;
    
    position: fixed;
    width: 100%;
    top: 0;
    padding: 0.5rem;

    background-color: darkgray;
    
    a { // nav a
        
        display: inline-block;
        text-align: center;
        margin: 0.5rem;
        color: white;
        text-decoration: none;

        &:hover {// nav a :hover
            text-decoration: underline;
            color: black;
        }
    }
}