
nav {
    // display: flex;
    // justify-content: flex-start;
    
    position: fixed;
    width: 100%;
    top: 0;

    background-color: darkgray;
    
    a { 
        // float: left;
        display: inline-block;
        text-align: center;
        padding: 1rem;
        color: white;
        text-decoration: none;
    }
}