.welcome {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 0;
    height: 50vh;
    margin: 1rem 0;
    background: lightblue url('/img/welcome.jpg') center/cover fixed;
    
    h1 {
        position: relative;
        margin: 0 0 0 20rem;
        padding: 2rem 4rem;
        text-align: center;
        font-size: 5rem;
        color: white;
    }

    p {
        margin: 0 0 0 20rem;
        padding: 2rem, 4rem;
        text-align: center;
        color: lightgray;
        font-size: 2rem;
    }
    
}

section.plot { // no need for flexbox as the main axis is vertical and that's how the page aligns anyways.
    // display: flex;
    // flex-direction: column;

    h2 {
        text-align: center;
        padding: 1rem;
    }

    .description {
        max-width: 800px;
        margin: 0 auto;

        display: flex;
    
        
        img {
        margin: 1rem;
        width: 10rem;
    }
        div {
            padding: 1rem;
        }
    }

}

.characters {
    display: flex;
    flex-direction: column;
    
    height: 80vh;
    background: lightblue url('/img/rey-standing.jpg') center/cover fixed;

    h2 {
        text-align: center;
        padding: 1rem;
    }

    .characters__parent {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10rem;

        .small {
            width: 4rem;
            border-radius: 50%;
        }

        .bigger {
            width: 6rem;
            border-radius: 50%;
        }

        .big {
            width: 8rem;
            border-radius: 4rem;
        }

        .biggest {
            width: 10rem;
            border-radius: 9rem;
        }

    }

}

.Ratings {
    display: flex;
    flex-direction: column;
    height: 80vh;

    h2 {
        text-align: center;
        padding: 1.5rem;
    }

    .ratings__parent {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .small-rate {
            
            width: 6rem;
            height: 7.5rem;
            background-color: rgb(56, 50, 50);
            
        }

        .bigger-rate {
            width: 6rem;
            height: 8.5rem;
            background-color:  rgb(56, 50, 50);
            
        }

        .biggest-rate {
            width: 6rem;
            height: 9rem;
            background-color:  rgb(56, 50, 50);
            align-self: center;
        }

        .rating__item__small {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            height: 100%;
            
            padding: 1rem;
            
        }

        .rating__item__biggest {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 1rem;
            height: 100%;
            
            
        }

        .rating__item__bigger {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 1rem;
            height: 100%;
        }

        p {
            text-align: center;
        }
    }
}

.cast {
    display: flex;
    flex-direction: column;
    
    height: 100vh;
    

    h2 {
        text-align: center;
        padding: 1rem;
    }

    .cast__top {
        display: flex;
        flex-direction: row;
        justify-content: center;

        img {
            width: 10rem;
        }
        p {
            margin: 1rem;
            text-align: justify;
        }
    }

    .cast__down {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        img {
            width: 8rem;
            display: block;
        }

        .cast__bottom {
            position: relative;
        
         .cast__bottom__text {
             position: absolute;
             bottom: 0;
             left: 0;
             width: 100%;
            //  right: 1rem;
            text-align: center;
             background-color: rgba(43, 41, 41, 0.7);
             color: white;
         }

         }

         caption {
            text-align: center;
         }
    }

}

.gallery {
    display: flex;
    flex-direction: column;

    h2 {
        text-align: center;
    }

    .gallery__box__text {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
        padding: 0 1rem;
        position: relative;
        top: 30rem;

        
        
    }
    p {
        color: white;
        font-weight: bold;
    }
}
