* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: space-between;
    margin-top: 3rem;

    
}

.timer {
    display: flex;
}

.resetBtn,
.start {
    margin: 3rem;

    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    text-align: center;
    background-color: grey;
}

.countMid {
    margin: 3rem;
}
.pointUp {
    width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  
  border-bottom: 20px solid grey;
}

.pointDown {
    width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  
  border-top: 20px solid grey;
}