* {
    box-sizing: border-box;
}
html {
    font-family: Roboto, sans-serif;
    font-size: 18px;
}
body {
    margin: 0;
}
.container {
    width:40em;
    margin:0 auto;
}
nav {
    text-align: center;
}   
nav a {
    display: inline;
    color: #000000;
    text-decoration: none;
    padding: 0 1rem;
    line-height: 3rem;
}
p {
    margin: 0;
    line-height: 150%;
  }
section {
    padding: 3rem 0rem 6rem 0rem;
  }
.banner {
    height: 20rem;
    background: blue url('banner.jpg') center/cover no-repeat;
}
h1 {
    color: #FFFFFF;
    /* padding-top: 10rem;
    padding-left: 16rem; */
    padding-bottom: 1rem;
    font-size: 3rem;
    font-weight: 900;
    border-bottom: 4px solid white;
}
.Belf {
    color: #FFE964;
}
.Int {
    color: #FF523D;
}
.K {
    color: #223C88;
}
h2 {
    font-weight: 900;
    font-size: 2rem;
}
.mission {
    background-color: #FFE964;
    text-align: center;
}
.about-us {
    background-color: #FFFFFF;
}
.team {
    background-color: #FF523D;
    color:  #FFFFFF;
}
h3 {
    font-weight: 700;
    margin: 0;
    padding: 0;
}
.person {
    margin-bottom: 4rem;
    text-align: center;
  }
.contact {
    background-color: #223C88;
    color: #FFFFFF;
}
.address {
    margin-bottom: 1rem;
}
