.answer {
    border: solid red 2px;
    background-color: beige;
}

.user {
    padding: 5px;
    background-color: lightgoldenrodyellow;
    color: black;
    
}

.text {
    padding: 10px;
    color: grey;
    border-top: grey;
}
.likes {
    color: black;
    padding: 2rem;
}