* {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 50vh;

}


.shopping-list {
  display: flex;
  flex-direction: column;
}
.shopItem {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  width: 100vh;
  margin-left: 4rem;
  margin-top: 1rem;
  background-color: aqua;
  opacity: 1;
}



span {
  padding: 1rem;
}

.moreBtn {
  margin: 1rem;
  background-color: red;
  padding: 1rem;
}
